<body class="form-v10">
	<div class="page-content">
		<div class="form-v10-content">
			<form class="form-detail" action="#" method="post" id="myform">
				<div class="form-left">
					<h2>Administratif</h2>
                    
                    <div class="d-grid gap-2 d-md-block">
                        <h6 class="form-title">Vous êtes ?</h6>
                        <a href="" class="btn btn-primary" role="button">Apprenant</a>
                        <a href="" class="btn btn-primary" role="button">Formateur</a>
                      </div>

					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="text" name="first_name" id="first_name" class="input-text" placeholder="First Name" required>
						</div>
						<div class="form-row form-row-2">
							<input type="text" name="last_name" id="last_name" class="input-text" placeholder="Last Name" required>
						</div>
					</div>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="text" name="code" class="code" id="code" placeholder="Code +" required>
						</div>
						<div class="form-row form-row-2">
							<input type="text" name="phone" class="phone" id="phone" placeholder="Phone Number" required>
						</div>
					</div>
					<div class="form-row">
						<input type="text" name="your_email" id="your_email" class="input-text" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}" placeholder="Your Email">
					</div>
					<div class="form-group">
						<div class="form-row form-row-7">
                            <h6>Date de Naiss.</h6>
							<input type="date" name="date_naissance" class="date_naissance" id="date_naissance" placeholder="Date de Naissance" required>
						</div>
						<div class="form-row form-row-4">
                            <h6>Pays</h6>
							<select name="pays">
							    <option value="employees">Senegal</option>
							    <option value="trainee">Trainee</option>
							    <option value="colleague">Colleague</option>
							    <option value="associate">Associate</option>
							</select>
							<span class="select-btn">
							  	<i class="zmdi zmdi-chevron-down"></i>
							</span>
						</div>
					</div>
				</div>
				<div class="form-right">
					<h2>Idfentifiant</h2>
					<div class="form-row">
						<input type="text" name="pseudo" class="pseudo" id="pseudo" placeholder="Pseudo" required pattern="[a-z]{4,8}">
					</div>
					<div class="form-group">
						<div class="form-row form-row-1">
							<input type="password" name="password" class="password" id="password" placeholder="Mot De Passe" required>
						</div>
						<div class="form-row form-row-2">
							<input type="password" name="password" class="ppassword" id="password" placeholder="Confirmer votre mot de passe" required>
						</div>
					</div>
                    <h2>Etude</h2>
					<div class="form-group">
						<div class="form-row form-row-4">
                            <h6>Grade</h6>
							<select name="pays">
							    <option value="employees">Grade</option>
							</select>
							<span class="select-btn">
							  	<i class="zmdi zmdi-chevron-down"></i>
							</span>
						</div>
                        <div class="form-row form-row-4">
                            <h6>Spécialité</h6>
							<select name="pays">
							    <option value="employees">Spécialité</option>
							</select>
							<span class="select-btn">
							  	<i class="zmdi zmdi-chevron-down"></i>
							</span>
						</div>
					</div>
					<div class="form-checkbox">
						<label class="container"><p>I do accept the <a href="#" class="text">Terms and Conditions</a> of your site.</p>
						  	<input type="checkbox" name="checkbox">
						  	<span class="checkmark"></span>
						</label>
					</div>
					<div class="form-row-last">
						<input type="submit" name="register" class="register" value="Je m'inscris">
                        <p class="loginhere">
                            Vous avez déjà un compte ?<a href="#" class="loginhere-link"> Connectez-vous ici</a>
                        </p>
                    </div>
				</div>
			</form>
		</div>
	</div>
</body>
