<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><span class="text1">Alone<span class="text2">Learn</span> </span></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="active" routerLink="/home">Accueil</a></li>
        <li><a routerLink="/formations">Nos Formations</a></li>
        <li><a routerLink="/about">A propos de nous</a></li>
        <li><a routerLink="/contact">Contactez-Nous</a></li>
      </ul>
    </nav><!-- .navbar -->
      <a routerLink="/connexion" class="get-started-btn">Se Connecter</a>

  </div>
  
</header>
<!-- End Header -->